<section id="" class="sixcol">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				{{ blok.col1 | markdownify }}
			</div>
			<div class="col-md-2">
				{{ blok.col2 | markdownify }}
			</div>
			<div class="col-md-2">
				{{ blok.col3 | markdownify }}
			</div>
			<div class="col-md-2">
				{{ blok.col4 | markdownify }}
			</div>
			<div class="col-md-2">
				{{ blok.col5 | markdownify }}
			</div>
			<div class="col-md-2">
				{{ blok.col6 | markdownify }}
			</div>
		</div>
	</div>
	
</section>