{{page.story.content._editable}}

{% assign limit = blok.limit | plus:0 %}
{% assign i = 0 %}

<section id="eventgrid">
	<div class="container">
		<div class="row">
			<div class="popup-details col-md-12">
				<h3>{{ blok.title }}</h3>
			</div>
		</div>
		<div class="events row">
		{% for p in site.pages %}
			{% if i == limit %}
				{% break %}
			{% endif %}

			{% if p.path contains "events/" %}
			<div class="col-md-12 event {{p.story.content.eventtype}}_event">
				<!-- <a href="{{ p.story.full_slug }}"> -->
				<div class="row no-gutter inner media">
					<!-- <div class="date col-md-1 text-center d-flex align-self-center"> -->
					<div class="date col-md-1">
						<div class="inner-date">
							<h6>{{p.story.content.date | date: "%B" }}</h6>
							<h3>{{p.story.content.date | date: "%e" }}</h3>
						</div>
						<!-- SHOWING TIME ONLY IF IT ISNT AT MIDNIGHT  
						{% assign date = p.story.content.date | date: "%T" %}
						{% assign date = date | plus:0 %}

						{% if date > 0 %}
							<p class="para-small">{{p.story.content.date | date: "%l:%M %p" }}</p>
						{% endif %}
						-->

					</div>
					<div class="col-md-8 description">
						<h5>{{p.story.name}}</h5>
						{{p.story.content.description | markdownify }}
					</div>
				</div>
				{% assign i = i | plus:1 %}
			</div>		
			{% endif %}
		{% endfor %}
		</div>
	</div>
</section>